/* Minimal CSS Reset */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
strong,
em,
small,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
kbd,
samp,
var,
img,
video,
audio,
canvas,
progress,
meter,
fieldset,
legend,
label,
input,
button,
select,
textarea,
table,
caption,
colgroup,
col,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ul,
ol {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  font-size: 100%;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
